/*  master styles  */

header,
#head,
a {
	font-family: Verdana, Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: MediumAquamarine;
}

/*
div {
	border: 1px solid black;
}
*/

h1,
h2,
h3,
p,
div {
	display: flex;
	
}

/*  font styles  */

h1 {
	font-size: 40px;
	font-family: Georgia;
	font-weight: bold;
	color: white;
	justify-content: center;
	padding: 20px;
	margin-top: 0px;
}

h2 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: white;
	width: 100%;
	padding-top: 0px;
}

h3 {
    font-size: 30px;
	width: 100%;
}

p{
	font-family: Georgia;
	font-size: 17px;
	color: black;
}

/*  header  */

header {
	display: flex;
}

#head {
	font-weight: bold;
	font-size: 14px;
	color: MediumAquamarine;
	width: 100px;
	height: auto;
	padding: 20px 10px;
}

.logo {
	display: flex;
	width: auto;
	height: 100%;
	padding: 10px 20px;
}


/*  nav  */

nav {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	
}

nav a {
	color: black;
	text-decoration: underline;
	font-size: 14px;
	
}

nav li {
	display: inline-block;
	padding: 20px 10px;
	text-decoration: underline;
	
}

/*  main content  */

.column {
	flex-direction: column;
	display: flex; 
	justify-content: flex-start;
}

.column.large {
	width: 630px;
	align-items: flex-start;
}

.column.medium {
	width: 300px;
	align-items: flex-start;
}

.column.small {
	width: 240px;
	align-items: flex-start;
}

.content {
	display: flex;
	padding: 50px auto;
	margin-top: 35px;
	margin-bottom: 80px;
	align-items: flex-start;
	justify-content: space-between;
}

div {
	justify-content: space-between;
	background-size: cover;
	
}

.article1 {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 10px;
}

.article2 {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 75px;
}


#main-story {
	font-size: 40px;
}

/* #halign {
	flex-direction: column;
}
*/
/*  col 1  */

.phish-concert {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
	display: flex;
	height: 300px;
}

.cat-control {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
	display: flex;
	height: 300px;
	
}

.orca {
	flex-basis: 1;
	flex-direction: column;
	display: flex;
	width: 47%;
	
}

.burger {
	flex-basis: 1;
	flex-direction: column;
	/* padding: 5px 15px; */
	display: flex;
	width: 47%;
}

.earth-spin {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
	display: flex;
	flex-basis: 1;
	width: 47%;
	height: 300px;
}


.camera-memory {
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
	display: flex;
	flex-basis: 1;
	width: 47%;
	height: 300px;
}

/*  col 2  */

.fbi {
	flex-direction: column;
	align-items: flex-start;
}

/*  col 3  */

.image {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	display: flex;
	width: 100% auto;
    
	
}

.news-bites {
	display: block;
	flex-direction: column;
	width: 100%;
}

.news-bites h3 {
	width: auto;
	font-size: 16px;
	font-weight: bold;
	flex-direction: column;
	text-align: center;
}

.news-bites ul {
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: DimGray;
	list-style: none;
	display: block;
	margin: 0px;
	border: 1px 0px 1px 0px;
	padding: 0px;
}

.news-bites li {
	display: block;
	padding: 15px 20px;
	width: auto;
	text-align: left;
	border-bottom: 1px solid black;
	flex-basis: 0;
}

/*  footer  */

footer {
	background-color: MediumAquamarine;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 50px 50px;
	font-family: Verdana;
	font-size: 12px;
	height: 100px;
	
}

.foot {
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	flex-direction: column;
	height: 50px;
	align-items: center;
}

.fnavline {
	align-items: center;
	justify-content: center;
	flex-basis: 1;
	height: 30px;
}

.fnav {
	width: auto;
	text-decoration: underline;
	align-content: center;
	
}

.fnav li {
}

.fmyt {
	text-decoration: none;
	color: white;
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	width: auto;
	/* margin: 15px; 
	margin: 5px 20px;
	padding: 20px;
	*/
	padding-right: 25px;

}

.copyr {
	display: flex;
	width: auto;
	text-align: center;
	font-size: 12px;
	flex-basis: 1;
	justify-content: center;
}